/** @format */

td,
th {
  border: 1px solid #d1d5db;
}

tfoot {
  color: #05801f;
  font-weight: bold;
  background-color: beige;
}

td {
  text-align: center;
}

#teamStatsYearTable td:first-child {
  text-align: start;
}
